In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta

In [6]:
a1=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-01_2021-01_2021.csv',encoding='euc-kr')
a2=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-02_2021-02_2021.csv',encoding='euc-kr')
a3=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-03_2021-03_2021.csv',encoding='euc-kr')
a4=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-04_2021-04_2021.csv',encoding='euc-kr')
a5=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-05_2021-05_2021.csv',encoding='euc-kr')
a6=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-06_2021-06_2021.csv',encoding='euc-kr')
a7=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-07_2021-07_2021.csv',encoding='euc-kr')
a8=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-08_2021-08_2021.csv',encoding='euc-kr')
a9=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-09_2021-09_2021.csv',encoding='euc-kr')
a10=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-10_2021-10_2021.csv',encoding='euc-kr')
a11=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-11_2021-11_2021.csv',encoding='euc-kr')
a12=pd.read_csv('C:/Users/user/Desktop/안동/SURFACE_ASOS_136_MI_2021-12_2021-12_2021.csv',encoding='euc-kr')

In [10]:
wet=pd.concat([a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12])

In [13]:
wet

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,136,2021-01-01 00:01,-7.0,0.0,283.7,2.5,1008.6,1027.0,52.5,0.0,0.0
1,136,2021-01-01 00:02,-7.0,0.0,282.7,3.8,1008.6,1027.0,54.0,0.0,0.0
2,136,2021-01-01 00:03,-7.0,0.0,292.3,3.2,1008.6,1027.0,52.6,0.0,0.0
3,136,2021-01-01 00:04,-7.0,0.0,288.5,3.9,1008.6,1027.0,53.0,0.0,0.0
4,136,2021-01-01 00:05,-7.0,0.0,286.5,3.4,1008.6,1027.0,54.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28850,136,2021-12-21 00:55,4.5,0.0,325.8,0.6,1000.0,1017.4,70.4,0.0,0.0
28851,136,2021-12-21 00:56,4.5,0.0,337.4,0.7,1000.1,1017.5,70.6,0.0,0.0
28852,136,2021-12-21 00:57,4.6,0.0,346.0,0.9,1000.1,1017.5,71.5,0.0,0.0
28853,136,2021-12-21 00:58,4.8,0.0,346.0,0.8,1000.1,1017.5,72.5,0.0,0.0
28854,136,2021-12-21 00:59,4.9,0.0,333.6,1.1,1000.1,1017.5,71.3,0.0,0.0

In [16]:
wet['일시']=wet['일시'].str.split().str[0]

In [17]:
wet

,지점,일시,기온(°C),누적강수량(mm),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,136,2021-01-01,-7.0,0.0,283.7,2.5,1008.6,1027.0,52.5,0.0,0.0
1,136,2021-01-01,-7.0,0.0,282.7,3.8,1008.6,1027.0,54.0,0.0,0.0
2,136,2021-01-01,-7.0,0.0,292.3,3.2,1008.6,1027.0,52.6,0.0,0.0
3,136,2021-01-01,-7.0,0.0,288.5,3.9,1008.6,1027.0,53.0,0.0,0.0
4,136,2021-01-01,-7.0,0.0,286.5,3.4,1008.6,1027.0,54.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28850,136,2021-12-21,4.5,0.0,325.8,0.6,1000.0,1017.4,70.4,0.0,0.0
28851,136,2021-12-21,4.5,0.0,337.4,0.7,1000.1,1017.5,70.6,0.0,0.0
28852,136,2021-12-21,4.6,0.0,346.0,0.9,1000.1,1017.5,71.5,0.0,0.0
28853,136,2021-12-21,4.8,0.0,346.0,0.8,1000.1,1017.5,72.5,0.0,0.0
28854,136,2021-12-21,4.9,0.0,333.6,1.1,1000.1,1017.5,71.3,0.0,0.0

In [22]:
wet=wet[wet['일시']!='2021-12-21']

In [25]:
wet_tem=wet[['일시','기온(°C)']].groupby('일시').mean()
wet_tem

              기온(°C)
일시
2021-01-01 -4.218346
2021-01-02 -3.612569
2021-01-03 -3.513403
2021-01-04 -3.474236
2021-01-05 -2.716887
...              ...
2021-12-16  4.506181
2021-12-17 -1.204375
2021-12-18 -5.558889
2021-12-19 -0.367014
2021-12-20  3.357361

[354 rows x 1 columns]

In [26]:
wet_ra=wet[['일시','누적강수량(mm)']].groupby('일시').max()
wet_ra

            누적강수량(mm)
일시
2021-01-01        0.0
2021-01-02        0.0
2021-01-03        0.0
2021-01-04        0.0
2021-01-05        0.0
...               ...
2021-12-16        0.0
2021-12-17        0.0
2021-12-18        0.0
2021-12-19        0.0
2021-12-20        0.0

[354 rows x 1 columns]

In [28]:
wet_win=wet[['일시','풍속(m/s)']].groupby('일시').mean()
wet_win

             풍속(m/s)
일시
2021-01-01  2.209590
2021-01-02  2.319236
2021-01-03  3.175972
2021-01-04  0.802778
2021-01-05  2.312509
...              ...
2021-12-16  0.877639
2021-12-17  5.137847
2021-12-18  1.693958
2021-12-19  2.681181
2021-12-20  1.193611

[354 rows x 1 columns]

In [29]:
wet_wat=wet[['일시','습도(%)']].groupby('일시').mean()
wet_wat

                습도(%)
일시
2021-01-01  58.993259
2021-01-02  49.781458
2021-01-03  35.520069
2021-01-04  49.206806
2021-01-05  42.212092
...               ...
2021-12-16  73.211181
2021-12-17  35.304444
2021-12-18  41.333542
2021-12-19  51.112153
2021-12-20  59.321181

[354 rows x 1 columns]

In [36]:
wet_sun=wet[['일시','일사(MJ/m^2)']].groupby('일시').max()
wet_sun

            일사(MJ/m^2)
일시
2021-01-01       10.10
2021-01-02       11.79
2021-01-03       11.79
2021-01-04        9.88
2021-01-05        9.88
...                ...
2021-12-16        4.73
2021-12-17        9.77
2021-12-18       10.89
2021-12-19       10.89
2021-12-20       10.75

[354 rows x 1 columns]

In [37]:
wether=pd.concat([wet_tem,wet_ra,wet_win,wet_wat,wet_sun],join='inner',axis=1)
wether

              기온(°C)  누적강수량(mm)   풍속(m/s)      습도(%)  일사(MJ/m^2)
일시
2021-01-01 -4.218346        0.0  2.209590  58.993259       10.10
2021-01-02 -3.612569        0.0  2.319236  49.781458       11.79
2021-01-03 -3.513403        0.0  3.175972  35.520069       11.79
2021-01-04 -3.474236        0.0  0.802778  49.206806        9.88
2021-01-05 -2.716887        0.0  2.312509  42.212092        9.88
...              ...        ...       ...        ...         ...
2021-12-16  4.506181        0.0  0.877639  73.211181        4.73
2021-12-17 -1.204375        0.0  5.137847  35.304444        9.77
2021-12-18 -5.558889        0.0  1.693958  41.333542       10.89
2021-12-19 -0.367014        0.0  2.681181  51.112153       10.89
2021-12-20  3.357361        0.0  1.193611  59.321181       10.75

[354 rows x 5 columns]

In [38]:
wether=wether.reset_index()
wether

             일시    기온(°C)  누적강수량(mm)   풍속(m/s)      습도(%)  일사(MJ/m^2)
0    2021-01-01 -4.218346        0.0  2.209590  58.993259       10.10
1    2021-01-02 -3.612569        0.0  2.319236  49.781458       11.79
2    2021-01-03 -3.513403        0.0  3.175972  35.520069       11.79
3    2021-01-04 -3.474236        0.0  0.802778  49.206806        9.88
4    2021-01-05 -2.716887        0.0  2.312509  42.212092        9.88
..          ...       ...        ...       ...        ...         ...
349  2021-12-16  4.506181        0.0  0.877639  73.211181        4.73
350  2021-12-17 -1.204375        0.0  5.137847  35.304444        9.77
351  2021-12-18 -5.558889        0.0  1.693958  41.333542       10.89
352  2021-12-19 -0.367014        0.0  2.681181  51.112153       10.89
353  2021-12-20  3.357361        0.0  1.193611  59.321181       10.75

[354 rows x 6 columns]

In [39]:
wether.rename(columns={'일시':'date','기온(°C)':'평균기온(°C)','누적강수량(mm)':'일강수량(mm)','풍속(m/s)':'평균 풍속(m/s)','습도(%)':'평균 상대습도(%)','일사(MJ/m^2)':'합계 일사량(MJ/m2)'},inplace=True)
wether

           date  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)  합계 일사량(MJ/m2)
0    2021-01-01 -4.218346       0.0    2.209590   58.993259          10.10
1    2021-01-02 -3.612569       0.0    2.319236   49.781458          11.79
2    2021-01-03 -3.513403       0.0    3.175972   35.520069          11.79
3    2021-01-04 -3.474236       0.0    0.802778   49.206806           9.88
4    2021-01-05 -2.716887       0.0    2.312509   42.212092           9.88
..          ...       ...       ...         ...         ...            ...
349  2021-12-16  4.506181       0.0    0.877639   73.211181           4.73
350  2021-12-17 -1.204375       0.0    5.137847   35.304444           9.77
351  2021-12-18 -5.558889       0.0    1.693958   41.333542          10.89
352  2021-12-19 -0.367014       0.0    2.681181   51.112153          10.89
353  2021-12-20  3.357361       0.0    1.193611   59.321181          10.75

[354 rows x 6 columns]

In [44]:
pd.options.display.float_format = '{:.2f}'.format

In [45]:
wether

           date  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)  합계 일사량(MJ/m2)
0    2021-01-01     -4.22      0.00        2.21       58.99          10.10
1    2021-01-02     -3.61      0.00        2.32       49.78          11.79
2    2021-01-03     -3.51      0.00        3.18       35.52          11.79
3    2021-01-04     -3.47      0.00        0.80       49.21           9.88
4    2021-01-05     -2.72      0.00        2.31       42.21           9.88
..          ...       ...       ...         ...         ...            ...
349  2021-12-16      4.51      0.00        0.88       73.21           4.73
350  2021-12-17     -1.20      0.00        5.14       35.30           9.77
351  2021-12-18     -5.56      0.00        1.69       41.33          10.89
352  2021-12-19     -0.37      0.00        2.68       51.11          10.89
353  2021-12-20      3.36      0.00        1.19       59.32          10.75

[354 rows x 6 columns]

In [47]:
wether.to_csv('C:/Users/user/Desktop/안동/wether_2021.csv',encoding='euc-kr')